.anim-click {
  &:active {
    transform: scale(0.96);
    transition: 0.1s;
  }
}
.anim-click-sm {
  &:active {
    transform: scale(0.98);
    transition: 0.1s;
  }
}
.anim-click-left {
  @extend .anim-click;
  transform-origin: top left;
}
.anim-click-sm-left {
  @extend .anim-click-sm;
  transform-origin: top left;
}