.tag-group {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin: 16px 0;
}
.tag {
  @extend .par-4;
  @extend .medium;
  @extend .anim-click;
  display: inline-flex;
  align-items: center;
  height: 30px;
  color: var(--ds-accent);
  padding: 4px 12px;
  border-radius: 8px;
  background-color: rgba(var(--ds-accent-rgb), 0.05);
  cursor: pointer;

  &:hover {
    color: var(--ds-accent);
    background-color: rgba(var(--ds-accent-rgb), 0.08);
  }

  &.tag-active {
    color: var(--ds-white);
    background-color: var(--ds-accent);
  }
}

.btn {
  @extend .anim-click;
  @extend .par-3;
  @extend .semi-bold;
  border-radius: 9px;
  height: 40px;

  &:focus {
    box-shadow: none !important;
  }
}
.btn-lg {
  border-radius: 10px;
  @extend .par-2;
  @extend .semi-bold;
  height: 48px;
}
.btn-sm {
  border-radius: 8px;
  @extend .par-4;
  @extend .semi-bold;
  height: 36px;
}

.btn.btn-primary {
  background-color: var(--ds-accent);
  color: var(--ds-white);
  border: none;

  &:hover {
    background-color: rgba(var(--ds-accent-rgb), 0.9);
  }
}

// Bootstrap: xsm
@media (max-width: 576px) {
  .tag-group {
    margin: 16px 0 8px 0;
  }
}