nav {
  padding-top: 16px;

  .nav-brand {
    @extend .extra-bold;
    @extend .unselectable;
    @include typoStyle(24, 22, -0.1);
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 48px;
    position: relative;

    .nav-symbol {
      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
  .nav-items {
    
      &>* {
        margin-bottom: 24px;

        &:first-child {
          margin-bottom: 16px;
        }
      }

      .nav-items-group {
        .nav-item {
          margin-bottom: 8px;
        }
      }

      .nav-item {
        @extend .anim-click-sm-left;

        .nav-link {
          @extend .par-1;
          @extend .bold;
          border-radius: 10px;
          background-color: transparent;
          text-decoration: none;
          color: var(--ds-label-1);
          display: inline-flex;
          gap: 10px;
          padding: 12px 16px 12px 16px;
          height: 48px;
          white-space: nowrap;
        }

        &.active {
          .nav-link {
            background-color: var(--ds-white);
          }
        }
      }
  }
}

.nav-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


// Bootstrap: lg
@media (max-width: 1200px) {
  .nav-wrap {
    height: auto;
  }

  nav {
    .nav-brand {
      @include typoStyle(21, 19, -0.1);
      justify-content: center;
      margin-bottom: 24px;
      font-weight: 900;

      .nav-symbol {
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
    .nav-items {
      display: flex;
      justify-content: center;

      .nav-items-group {
        display: flex;
      }

      .nav-item {
        .nav-link {
          padding: 8px 16px;
          height: 40px;
        }
      }
    }
  }
}

// Bootstrap: md
@media (max-width: 992px) {
  nav {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .nav-items {
      width: 100%;
      height: 100%;
      justify-content: start;
      overflow-x: scroll;
      padding-bottom: 20px;
      box-sizing: content-box;

      &>* {
        margin-bottom: 0px;
  
        &:first-child {
          margin-bottom: 0px;
        }
      }
  
      .nav-items-group {

        .nav-item {
          margin-bottom: 0px;
        }
      }
    }
  }
}

// Bootstrap: sm
@media (max-width: 768px) {
  nav {
    .nav-items {
      justify-content: start;
    }
  }
}